<div class='form-group'>
<label for = 'name'>Name</label>
<input type = 'text'
      class = 'form-control'
      id = 'name'
      name = 'name'
      value = '<%=card.name%>'
      >
    </div>


<div class='form-group'>
<label for = 'title'>Title</label>
<input type = 'text'
      class = 'form-control'
      id = 'title'
      name = 'title'
      value = '<%=card.title%>'
      >
    </div>

<div class='form-group'>
<label for = 'title'>Company</label>
<input type = 'text'
      class = 'form-control'
      id = 'company'
      name = 'company'
      value = '<%=card.company%>'
      >
    </div>

<div class='form-group'>
<label for = 'title'>Cell phone</label>
<input type = 'text'
      class = 'form-control'
      id = 'cell'
      name = 'cell'
      value = '<%=card.phone.cell%>'
      >
    </div>

<div class='form-group'>
<label for = 'title'>Work phone</label>
<input type = 'text'
      class = 'form-control'
      id = 'work'
      name = 'work'
      value = '<%=card.phone.work%>'
      >
    </div>

<div class='form-group'>
<label for = 'title'>Email</label>
<input type = 'text'
      class = 'form-control'
      id = 'email'
      name = 'email'
      value = '<%=card.email%>'
      >
    </div>

<div class='form-group'>
<label for = 'title'>LinkedIn Profile</label>
<input type = 'text'
      class = 'form-control'
      id = 'linkedIn'
      name = 'linkedIn'
      value = '<%=card.linkedIn%>'
      >
    </div>

<div class='form-group'>
<label for = 'title'>Website</label>
<input type = 'text'
      class = 'form-control'
      id = 'website'
      name = 'website'
      value = '<%=card.website%>'
      >
    </div>
